<launch>
    <arg name="simulation_data" default="$(find stonefish_ros)/simulation"/>
    <arg name="scenario_description" default="$(find stonefish_ros)/simulation/scenarios/andratx_multirobot.scn"/>
    <arg name="simulation_rate" default="500"/>
    <arg name="graphics_resolution" default="600 400"/>
    <arg name="graphics_quality" default="low"/>

    <node name="stonefish_simulator" pkg="stonefish_ros" type="parsed_simulator" args="$(arg simulation_data) $(arg scenario_description) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality)" output="screen">
        <remap from="stereo_down/depth/camera_info"  to="/stereo_down/depth/camera_info"/>
        <remap from="stereo_down/depth/image_depth"  to="/stereo_down/depth/image_depth"/>
        <remap from="stereo_down/left/image_color"  to="/stereo_down/left/image_raw"/>
        <remap from="stereo_down/right/image_color" to="/stereo_down/right/image_raw"/>
        <remap from="stereo_down/left/camera_info"  to="/stereo_down/left/camera_info"/>
        <remap from="stereo_down/right/camera_info" to="/stereo_down/right/camera_info0"/>
    </node>
</launch>
