<launch>
    <!-- Params -->
    <arg name="place" default="illetes.yaml"/>
    <arg name="robot_name" default="xiroi"/>

    <!-- Flags -->
    <arg name="enableSafety" default="true"/>
    <arg name="enableJoystick" default="false"/>
    <arg name="openLoopTeleoperation" default="false"/>
    <arg name="enableIqua" default="true"/>
    <arg name="enableRviz" default="false"/>
    <arg name="AUV_tracking" default="false"/>
    <arg name="simulation_rate" default="25"/>
    <arg name="graphics_quality" default="low"/>

    <!-- ROBOT -->
    <include file="$(find cola2_xiroi)/launch/robot.launch">
        <arg name="place" value="$(arg place)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="enableSafety" value="$(arg enableSafety)"/>
        <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
        <arg name="enableIqua" value="$(arg enableIqua)"/>
        <arg name="sim" value="true"/>
        <arg name="enableWirelessLinkMonitoring" value="false"/>
        <arg name="AUV_tracking" value="$(arg AUV_tracking)"/>
        <arg name="enableThrusters" value="false"/>
        <arg name="enableATX" default="false"/>
        <arg name="enableBB2wide" default="false"/>
        <arg name="enableBB2narrow" default="false"/>
        <arg name="enableUSBL" value="false"/>
        <arg name="enableCH3" value="false"/>
        <arg name="enableTopicLogger" value="false"/>
    </include>

    <!-- Simulate internal sensors -->
    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find cola2_xiroi)/config/sim_sensors.yaml"/>
        <node name="sim_internal_sensors" pkg="cola2_xiroi" type="sim_internal_sensors.py" output="screen"/>
        <!-- IMU/GPS -->
        <node name="sim_nav_sensors" pkg="cola2_xiroi" type="sim_nav_sensors.py" output="screen"/>
        <!-- Thrusters -->
        <node name="sim_actuators" pkg="cola2_xiroi" type="sim_actuators.py" output="screen">
            <remap from="/control/thrusters_data" to="controller/thruster_setpoints"/>
            <remap from="/control/sim_thrusters_data" to="controller/thruster_rpm"/>
            <!-- ggdsjuu -->
        </node>
    </group>

    <!-- Run Simulator -->
    <include file="$(find stonefish_ros)/launch/simulator.launch">
        <arg name="simulation_data" value="$(find stonefish_ros)/simulation"/>
        <arg name="scenario_description" value="$(find stonefish_ros)/simulation/scenarios/xiroi.scn"/>
        <arg name="simulation_rate" value="$(arg simulation_rate)"/>
        <arg name="graphics_resolution" value="800 800"/>
        <arg name="graphics_quality" value="$(arg graphics_quality)"/>
    </include>
</launch>