<launch>
    <!-- Params -->
    <arg name="place" default="illetes.yaml"/>
    <arg name="robot_name" default="turbot"/>
    <arg name="stereo" default="/stereo_down"/>

    <!-- Flags -->
    <arg name="cola2_nav" default="true"/>
    <arg name="enableNav" default="true"/>
    <arg name="enableUSBLloc" default="false"/>
    <arg name="enableSafety" default="false"/>
    <arg name="enableSafetyX" default="false"/>
    <arg name="openLoopTeleoperation" default="false"/>
    <arg name="AUV_tracking" default="false"/>
    
    <!-- Interfaces -->
    <arg name="enableIquaT1" default="true"/>
    <arg name="enableIquaT2" default="false"/>
    <arg name="enableIquaT3" default="false"/>
    <arg name="enableIquaX" default="true"/>
    <arg name="enableRviz" default="false"/>
    <arg name="enableMultimaster" default="false"/>
    <arg name="simulation_rate" default="25"/>
    <arg name="graphics_quality" default="low"/>

    <arg name="robot0_name" default="robot0"/>
    <arg name="robot1_name" default="robot1"/>
    <arg name="robot2_name" default="robot2"/>
    <arg name="robot3_name" default="robot3"/>

        <!-- Robot 0 -->
        <include file="$(find cola2_turbot)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot0_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="false"/>
            <arg name="enableComputerLogger" default="false"/>
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableNav" default="$(arg enableNav)"/>
            <arg name="enableSafety" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableCamera" value="false"/>
            <arg name="enableModem" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
            <arg name="enableIqua" value="$(arg enableIquaT1)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="enableEchosounder" value="false"/>
            <arg name="world2ned" value="true"/>
        </include>

        <group ns="$(arg robot0_name)">
            <!-- Simulate internal sensors -->
            <!-- Internal Sensors -->
            <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>

            <!-- Sound speed test -->
            <node name="sound_speed_publisher" pkg="cola2_turbot" type="sound_speed_publisher.py" output="screen"/>

        </group>

        <!-- Robot 1 -->
    
        <include file="$(find cola2_turbot)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot1_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="false"/>
            <arg name="enableComputerLogger" default="false"/>
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableCamera" value="false"/>
            <arg name="enableModem" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
            <arg name="enableIqua" value="$(arg enableIquaT2)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="enableEchosounder" value="false"/>
            <arg name="world2ned" value="true"/>
        </include>

        <group ns="$(arg robot1_name)">
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/frames2.yaml"/>
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/robot_localization2.yaml" ns="navigator"/>

            <!-- Simulate internal sensors -->
            <!-- Internal Sensors -->
            <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>
        </group>

        <!-- Robot 2 -->
   
        <include file="$(find cola2_turbot)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot2_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="false"/>
            <arg name="enableComputerLogger" default="false"/>
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableCamera" value="false"/>
            <arg name="enableModem" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
            <arg name="enableIqua" value="$(arg enableIquaT3)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="enableEchosounder" value="false"/>
            <arg name="world2ned" value="true"/>
        </include>

        <group ns="$(arg robot2_name)">
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/frames2.yaml"/>
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/robot_localization2.yaml" ns="navigator"/>

        <!-- Simulate internal sensors -->

            <!-- Internal Sensors -->
            <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>
        </group>

        <!-- Robot 3  ASV -->
        <!-- Flags -->
        <arg name="enableIqua" default="true"/>
    
        <include file="$(find stonefish_ros)/launch/xiroi_sim.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot3_name)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableIqua" value="$(arg enableIqua)"/>
            <arg name="sim" value="true"/>
            <arg name="enableWirelessLinkMonitoring" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="enableATX" default="false"/>
            <arg name="enableBB2wide" default="false"/>
            <arg name="enableBB2narrow" default="false"/>
            <arg name="enableUSBL" value="false"/>
            <arg name="enableCH3" value="false"/>
            <arg name="enableTopicLogger" value="false"/>
        </include>

        <!-- Simulate internal sensors -->
        <group ns="$(arg robot3_name)">
            <rosparam command="load" file="$(find cola2_xiroi)/config/sim_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_xiroi" type="sim_internal_sensors.py" output="screen"/>
            <!-- GPS -->
            <node name="sim_gps" pkg="stonefish_ros" type="sim_gps_xiroi.py" output="screen"/>
            <!-- Thrusters -->
            <node name="sim_actuators" pkg="cola2_xiroi" type="sim_actuators.py" output="screen">
                <remap from="/control/thrusters_data" to="controller/thruster_setpoints"/>
                <remap from="/control/sim_thrusters_data" to="controller/thruster_rpm"/>
            </node>
        </group>

        <!-- Run Simulator -->
        <include file="$(find stonefish_ros)/launch/simulator.launch">
            <arg name="simulation_data" value="$(find stonefish_ros)/simulation"/>
            <arg name="scenario_description" value="$(find stonefish_ros)/simulation/scenarios/illetes_multirobot.scn"/>
            <arg name="simulation_rate" value="$(arg simulation_rate)"/>
            <arg name="graphics_resolution" value="1200 800"/>
            <arg name="graphics_quality" value="$(arg graphics_quality)"/>
        </include>
  
    
</launch>