<launch>
    <!-- Params -->
    <arg name="place" default="illetes.yaml"/>
    <arg name="robot_name" default="turbot"/>
    <arg name="stereo" default="/stereo_down"/>

    <!-- Flags -->
    <arg name="cola2_nav" default="true"/>
    <arg name="enableNav" default="true"/>
    <arg name="enableUSBLloc" default="false"/>
    
    <!-- Interfaces -->
    <arg name="enableIqua" default="true"/>
    <arg name="enableRviz" default="false"/>
    <arg name="enableMultimaster" default="false"/>
    <arg name="simulation_rate" default="25"/>
    <arg name="graphics_quality" default="low"/>

    <!-- Submarine -->
    <include file="$(find cola2_turbot)/launch/robot.launch">
        <arg name="place" value="$(arg place)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="sim" value="true"/>
        <arg name="simGPS" value="false"/>
        <arg name="enableComputerLogger" default="false"/>
        <arg name="cola2_nav" value="$(arg cola2_nav)"/>
        <arg name="enableNav" default="$(arg enableNav)"/>
        <arg name="enableSafety" value="false"/>
        <arg name="enableThrusters" value="false"/>
        <arg name="openLoopTeleoperation" value="false"/>
        <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
        <arg name="enableCamera" value="false"/>
        <arg name="enableModem" value="false"/>
        <arg name="enableRelayBoard" value="false"/>
        <arg name="enableIqua" value="$(arg enableIqua)"/>
        <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
        <arg name="enableEchosounder" value="false"/>
        <arg name="world2ned" value="true"/>
    </include>

    <!-- Simulate sensors and actuators -->
    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
        <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>
    </group>

    <!-- Sound speed test -->
    <node name="sound_speed_publisher" pkg="cola2_turbot" type="sound_speed_publisher.py" output="screen"/>

     <!-- Run Simulator -->
    <include file="$(find stonefish_ros)/launch/simulator.launch">
        <arg name="simulation_data" value="$(find stonefish_ros)/simulation"/>
        <arg name="scenario_description" value="$(find stonefish_ros)/simulation/scenarios/turbot.scn"/>
        <arg name="simulation_rate" value="$(arg simulation_rate)"/>
        <arg name="graphics_resolution" value="1200 800"/>
        <arg name="graphics_quality" value="$(arg graphics_quality)"/>
    </include>
</launch>