<launch>
    <!-- Params -->
    <arg name="place" default="illetes.yaml"/>
    <arg name="robot_name" default="turbot"/>
    <arg name="stereo" default="/stereo_down"/>

    <!-- Flags -->
    <arg name="cola2_nav" default="true"/>
    <arg name="enableNav" default="true"/>
    <arg name="enableUSBLloc" default="false"/>
    
    <!-- Interfaces -->
    <arg name="enableIqua" default="true"/>
    <arg name="enableIqua2" default="true"/>
    <arg name="enableRviz" default="false"/>
    <arg name="enableMultimaster" default="false"/>
    <arg name="launchGS" default="true"/>
    <arg name="launchGS2" default="true"/>
    <arg name="simulation_rate" default="25"/>
    <arg name="graphics_quality" default="low"/>

    <!-- ROBOT 1 -->
    <group if="$(eval arg('robot_name') == 'turbot')">
        <include file="$(find cola2_turbot)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="false"/>
            <arg name="enableComputerLogger" default="false"/>
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableNav" default="$(arg enableNav)"/>
            <arg name="enableSafety" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableCamera" value="false"/>
            <arg name="enableModem" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
            <arg name="enableIqua" value="$(arg enableIqua)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="enableEchosounder" value="false"/>
            <arg name="world2ned" value="false"/>
        </include>

        <group if="$(arg launchGS)">
            <include file="$(find cola2_turbot)/launch/groundstation.launch">
                <arg name="robot_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <!-- SIMULATE SENSORS and ACTUATORS -->
        <group ns="$(arg robot_name)">
            <!-- Internal Sensors -->
            <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>
            <!-- <node name="sim_pressure_sensor" pkg="cola2_turbot" type="depth_sensor_publisher.py" output="screen"/> -->
        </group>
    </group>

    <!-- ROBOT 2 -->
    <group if="$(eval arg('robot_name') == 'xiroi')">
        <include file="$(find cola2_xiroi)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="true"/>
            <arg name="enableSafety" value="false"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableIqua" value="$(arg enableIqua)"/>
        </include>

        <group if="$(arg launchGS)">
            <include file="$(find cola2_xiroi)/launch/groundstation.launch">
                <arg name="robot_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <!-- <group ns="$(arg robot_name)">
            <rosparam command="load" file="$(find cola2_xiroi)/config/sim_sensors.yaml"/> -->
            <!-- IMU/GPS -->
            <!-- <node name="sim_nav_sensors" pkg="cola2_xiroi" type="sim_nav_sensors.py" output="screen"/> -->
            <!-- Dynamics -->
            <!-- <rosparam command="load" ns="dynamics" file="$(find cola2_xiroi)/config/dynamics.yaml"/>
            <node name="dynamics" pkg="cola2_xiroi" type="dynamics.py" output="screen">
                <remap from="/$(arg robot_name)/controller/thruster_setpoints" to="/$(arg robot_name)/controller/thruster_rpm"/>
            </node> -->
            <!-- Internal -->
            <!-- <node name="sim_internal_sensors" pkg="cola2_xiroi" type="sim_internal_sensors.py"/> -->
            <!-- Thrusters -->
            <!-- <node name="sim_actuators" pkg="cola2_xiroi" type="sim_actuators.py" output="screen">
                <remap from="/control/thrusters_data" to="controller/thruster_setpoints"/>
                <remap from="/control/sim_thrusters_data" to="controller/thruster_rpm"/>
            </node> -->
        <!-- </group> -->
    </group>

    <!-- ROBOT 3 -->
    <group if="$(eval arg('robot_name') == 'turbot2')">
        <include file="$(find cola2_turbot)/launch/robot.launch">
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="sim" value="true"/>
            <arg name="simGPS" value="false"/>
            <arg name="enableComputerLogger" default="false"/>
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="true"/>
            <arg name="enableThrusters" value="false"/>
            <arg name="openLoopTeleoperation" value="false"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableCamera" value="false"/>
            <arg name="enableModem" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
            <arg name="enableIqua" value="$(arg enableIqua2)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="enableEchosounder" value="false"/>
            <arg name="world2ned" value="true"/>
        </include>

        <!-- Run Simulator -->
        <include file="$(find cola2_turbot)/launch/modules/stonefish.launch">
            <arg name="simulation_data" value="$(find cola2_turbot)/config/simulation"/>
            <arg name="scenario_description" value="$(find cola2_turbot)/config/simulation/scenarios/illetes_3_robots.scn"/>
            <arg name="simulation_rate" value="$(arg simulation_rate)"/>
            <arg name="graphics_resolution" value="1200 800"/>
            <arg name="graphics_quality" value="$(arg graphics_quality)"/>
        </include>

        <group ns="$(arg robot_name)">
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/frames2.yaml"/>
            <rosparam command="load" file="$(find cola2_turbot)/config/simulation/config/robot_localization2.yaml" ns="navigator"/>
        </group>

        <group if="$(arg launchGS2)">
            <include file="$(find cola2_turbot)/launch/groundstation.launch">
                <arg name="place" value="$(arg place)"/>
                <arg name="robot_name" value="$(arg robot_name)"/>
                <arg name="joystick_T" default="/dev/input/by-id/usb-Logitech_Wireless_Gamepad_F710_DA3D9191-joystick"/>
            </include>
        </group>

        <!-- SIMULATE SENSORS and ACTUATORS -->
        <group ns="$(arg robot_name)">
            <!-- Internal Sensors -->
            <rosparam command="load" file="$(find cola2_turbot)/config/sim_internal_sensors.yaml"/>
            <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors.py" output="screen"/>
            <!-- <node name="sim_pressure_sensor" pkg="cola2_turbot" type="depth_sensor_publisher.py" output="screen"/> -->
        </group>
    </group>
</launch>